{% extends './base.html' %}

{% block title %}Oglasnik{% endblock %}
{% block userActions %}{% include './basicActions.html' %}{% endblock %}
{% block content %}
  {{ msg }}

  {% if isOwnAd %}
    <form method='post'>
      {% csrf_token %}
      {{ form.as_p }}
      <p> Kontakt: {{ userData }} </p><br>
      {% if not isDeletedAd %}
        <button type="submit" name="saveBtn"> Pohrani </button>
        {% if not isNewAd %}
          <button type="submit" name="deleteBtn"> Izbriši oglas</button>
          <a href="{% url 'imgMng' ad.id %}">Postavi slike</a><br><br>
        {% endif %}
      {% endif %}
    </form>
  {% else %}

    <table border="2">
      <thead>
        <th colspan="2">{{ ad.title }}</th>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">{{ ad.description }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td> <b>Kontakt: </b>{{ userData }} </td>
          <th>{{ ad.price }} HRK</th>
        </tr>
      </tfoot>
    </table>
{% endif %}
<div class="images" style="width: 100%; float: left;">
{% for img in images %}
 <div style="width: 250px; height: 250px; background-image: url('{{ img.image.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center; float: left; margin: 10px;"/></div>
{% endfor %}
</div>
{% endblock %}
