{% extends './base.html' %}

{% block title %}Oglasnik{% endblock %}
{% block userActions %}{% include './basicActions.html' %}{% endblock %}
{% block content %}
  {% if isOwnAd %}
    <form method='post'>
      {% csrf_token %}
      {{ form.as_p }}
      <p> Kontakt: {{ userData }} </p><br>
      {% if not isDeletedAd %}
        <button type="submit" name="saveBtn"> Pohrani </button>
        {% if not isNewAd %}
          <button type="submit" name="deleteBtn"> Izbriši </button>
        {% endif %}
      {% endif %}
    </form>
    {{ msg }}
  {% else %}
    <table border="2">
      <thead>
        <th colspan="2">{{ ad.title }}</th>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">{{ ad.description }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td> <b>Kontakt: </b>{{ userData }} </td>
          <th>{{ ad.price }} HRK</th>
        </tr>
      </tfoot>
    </table>
{% endif %}


{% endblock %}
