{% extends './base.html' %}

{% block title %}Oglasnik{% endblock %}
{% block userActions %}
<a href="{% url 'logout'%}">Logout</a><br>
<a href="{% url 'chpass'%}">Promini lozinku</a><br>
{% if isAdmin %}
  <a href="{% url 'modifyCategories' %}">Upravljanje kategorijama</a>
{% endif %}

{% endblock %}


{% block content %}

<form method="post">
  {% csrf_token %}
  {{ form }}
  <br><button type="submit" name="searchBtn">Traži</button>
  {% if isAdvertiser %}
  <button type="submit" name="ownAdsBtn">Vlastiti oglasi</button>
  <button type="submit" name = "addAdBtn">Novi oglas</button><br>
  {% endif %}

</form>
{% if showTable %}
<table border="2">
  <thead>
    <th>Datum</th>
    <th>Naslov</th>
    <th>Cijena</th>
    <th>Prikaži više</th>
  </thead>
  <tbody>
    {% for ad in ads %}
    <tr>
      <td>{{ad.createDate}}</td>
      <td>{{ad.title}}</td>
      <td>{{ad.price}}</td>
      <td><a href="{% url 'adDetails' ad.id %}">vidi više</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{{ msg }}
{% endblock %}
