{% extends './base.html' %}
{% block title %}Oglasnik{% endblock %}
{% block userActions %}
{% include './basicActions.html' %}
<a href="{% url 'adDetails' ad.id %}">Povratak na oglas</a><br><br>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="uploadBtn">Pohrani</button>
  </form>
  <br><br>
  <form method="post">
    {% csrf_token %}
    <div class="images" style="width: 100%; float: left;">
      {% for img in images %}

        <div style="width: 70px; height: 70px; background-image: url('{{ img.image.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center; float: left; margin: 10px;"/>
          <input type="checkbox" name="imageChkBx" value="{{ img.id }}">
        </div>
      {% endfor %}
    </div>
    <br><br>
    <button type="submit" name="delImageBtn">Izbriši slike</button>
  </form>
<p>{{ msg }}</p>
{% endblock %}
