{% extends './base.html' %}

{% block title %}Izmjena kategorija{% endblock %}
{% block userActions %}{% include './basicActions.html' %}{% endblock %}

{% block content %}
  {% if isAdmin %}
    <form method='post'>
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" name="createBtn"> Dodaj </button>
      <button type="submit" name="updateBtn"> Izmjeni </button>
      <button type="submit" name="deleteBtn"> Izbriši </button>
    </form>
  {% endif %}
  <b>{{ msg }}</b>
{% endblock %}
